/ssh/id_*
/ssh/id_rsa
/ssh/*_rsa*
/ssh/known_hosts
/gnupg/*.d/
/gnupg/*.db
/gnupg/*.gpg
/gnupg/*.kbx
/gnupg/*.private.*
/gnupg/.*
bundle/cache
secrets
rbenv/*/
Brewfile.lock.json

atom/.apm
atom/blob-store
atom/compile*
atom/github.cson
atom/linter-config.json
atom/.node-gyp
atom/packages
atom/storage

config/thefuck*
config/configstore
config/yarn
