"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cd977360-39d5-4e0d-82da-4d581903b602"
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
  "atom-typescript":
    preferBuiltinBusySignal: true
    preferBuiltinOccurrenceHighlight: true
    preferBuiltinSigHelp: true
    preferBuiltinTooltips: true
  core:
    disabledPackages: [
      "language-twig"
      "teletype"
      "atom-ide-ui"
      "ide-typescript"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".node-version"
      ".php-version"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 18
    invisibles: {}
    preferredLineLength: 140
    showIndentGuide: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "9c9e9f1e-bdfa-2932-93c0-07d5c42c550f"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-blame":
    columnWidth: 476
  jshint:
    onlyConfig: true
    supportLintingJsx: true
  linter: {}
  "linter-eslint":
    autofix:
      fixOnSave: true
    disableWhenNoEslintrcFileInPath: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "source.ts"
      "source.d.ts"
      "source.tsx"
    ]
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint": {}
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    hideDockButtons: true
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        "*.js"
      ]
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
      whitelistedGlobs: [
        "*.ts"
        "*.tsx"
      ]
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      semi: false
      singleQuote: true
    useEslint: true
  react: {}
  "toggle-quotes": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
