"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cd977360-39d5-4e0d-82da-4d581903b602"
  core:
    disabledPackages: [
      "language-twig"
      "prettier-atom"
      "teletype"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".node-version"
      ".php-version"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "9c9e9f1e-bdfa-2932-93c0-07d5c42c550f"
  "git-blame":
    columnWidth: 476
  jshint:
    onlyConfig: true
    supportLintingJsx: true
  linter: {}
  "linter-eslint":
    autofix:
      fixOnSave: true
    disableWhenNoEslintrcFileInPath: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint": {}
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    hideDockButtons: true
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      semi: false
      singleQuote: true
  react: {}
  "toggle-quotes": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".css.scss.source":
  editor:
    tabLength: 4
".css.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 4
